
  
  <br />


   <p class="lead">Welcome to Ground Effects Flooring where quality meets the floor...</p>

  

  <div class="row">
  <ul class="thumbnails">
  	<% @categories.each do |category| %>
  <li class="span3">
    <div class="thumbnail">
     <img " alt="">
      <h3><%=category.name%></h3>
      <p>Thumbnail caption...</p>
    </div>
  </li>
  <%end%>
</ul>
</div>

