<% content_for :header do %>
 <ul class="nav nav-pills btn-large">
  <li class="active"><a href="#concrete" data-toggle="tab">Concrete</a></li>
  <li><a href="#timber" data-toggle="tab">Timber</a></li>
  <li><a href="#floorcoverings" data-toggle="tab">Floor Coverings</a></li>
  <li><a href="#wetareas" data-toggle="tab">Wet Areas</a></li>
</ul>
 
          <%end%>
