
  
  <br />


   <p class="lead">Welcome to Ground Effects Flooring where quality meets the floor...</p>

  

  <div class="row">
  <ul class="thumbnails">
  	<% @categories.each do |category| %>
  <li class="span3">
    <div class="thumbnail">
     <img <%= image_tag category.image_url(:thumb).to_s %>
      <h3><%=category.name%></h3>
      	<ul class="nav nav-list">
  <% category.services.each do |service| %>
      <li><%= link_to service.name, service_path(service) %></li>
      <%end%>
</ul>
    </div>
  </li>
  <%end%>
</ul>
</div>

